<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Department</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
    <h2>Add Department</h2>
    <form th:action="@{/employee/edit/{id}(id=${employee.empId})}" enctype="multipart/form-data" method="post" th:object="${employee}">
        <div class="form-group">
            <label >Employee Name</label>
            <input th:field="*{empName}" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label >Avatar</label>
            <input name="file" type="file" class="form-control" >
        </div>
        <div class="form-group">
            <label >Gender</label>
            <input th:field="*{gender}" th:selected="${employee.gender}" type="radio"  th:value="true" >Nam
            <input th:field="*{gender}" th:selected="${!employee.gender}" type="radio"  th:value="false" >Nu
        </div>
        <div class="form-group">
            <label >Birthday</label>
            <input th:field="*{birthday}" type="date" class="form-control" >
        </div>
        <div class="form-group">
            <label >Position</label>
            <input th:field="*{position}" type="text" class="form-control"  >
        </div>
        <div class="form-group">
            <label >Salary</label>
            <input th:field="*{salary}" type="text" class="form-control"  >
        </div>
        <div class="form-group">
            <label for="status">Department</label>
            <select name="departmentId" class="form-control" id="status">
                <option th:if="${department.status}" th:selected="${department.id==employee.department.id}" th:each="department : ${departments}" th:value="${department.id}" th:text="${department.departName}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrn"></script>
</body>
</html>